<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibeSync</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>VibeSync</h1>
    </header>
    <main>
        <section id="moods">
            <h2>What's your vibe?</h2>
            <button>Happy</button>
            <button>Sad</button>
            <button>Angry</button>
            <button>Fearful</button>
            <button>In Love</button>
            <button>Excited</button>
            <button>Anxious</button>
            <button>Optimistic</button>
            <button>Deep in</button>
        </section>
    </main>

    <footer>
        <p>Created by <a href="https://laurenmariejohnson.com/">Lauren Johnson</a> 2023</p>
    </footer>
</body>
</html>